<template>
  <div class="h-16 flex items-center bg-gray-200">
    <a class="text-2xl" href="/">Helpdesk abonnementen tool</a>
    <div class="">
      <a class="m-2 text-gray-900" href="/">Nieuwe klant</a>
      <a class="m-2 text-gray-900" href="/Home/Estimates">Overzicht</a>
      <a class="m-2 text-gray-900" href="/Home/CreateEstimateItem">Onderdeel toevoegen</a>
      <a class="m-2 text-gray-900" href="/Home/EstimateItems">Onderdeel Overzicht</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
