<template>
  <div
    class="
      flex flex-col
      w-full
      bg-white
      rounded
      shadow-lg
      sm:w-3/4
      md:w-1/2
      lg:w-1/2
      mb-1
    "
  >
    <div class="flex flex-col w-full md:flex-row">
      <div
        class="
          flex flex-row
          justify-around
          p-4
          font-bold
          leading-none
          text-gray-800
          uppercase
          bg-gray-400
          rounded
          md:flex-col md:items-center md:justify-center md:w-1/3
        "
      >
        <div class="md:text-6xl">169.95</div>
        <div class="md:text-xl">€</div>
      </div>
      <div class="p-4 font-normal text-gray-800 md:w-3/4">
        <h1
          class="
            mb-4
            text-4xl
            font-bold
            leading-none
            tracking-tight
            text-gray-800
          "
        >
          Maand bedrag
        </h1>
        <p class="leading-normal"></p>
        <div class="flex flex-row items-center mt-4 text-gray-700 float-left">
          Test
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "EstimateTotal",
  props: {
    Estimate: Object,
  }
};
</script>