﻿<form id="createForm">
    Naam:<br />
    <input class="form-control
        block
        w-50
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="name"type="text" />
    <br />
    Omschrijving:<br />
    <textarea class="form-control
        block
        w-50
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="description">
    </textarea>
    <br />
    Bedrijfsvorm:<br />
    <select name="bedrijfsVorm" id="customerType" class="form-select appearance-none
      block
      w-50
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        <option value=0>ZZP/Eenmansbedrijf</option>
        <option value=1>MKB/BV</option>
        <option value=2>Concern</option>
    </select><br />
    Lijst prioriteit (de hooger het nummer de eerder het in de lijst terug komt 0-99):<br />
    <input class="form-control
        block
        w-50
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="listPriority" type="number" /><br />
    Kosten:<br />
    <input class="form-control
        block
        w-50
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="costEstimate" type="text" /><br />
    <br />
    <input class="h-10 px-6 font-semibold rounded-md bg-gray-700 text-white" type="submit" value="Toevoegen" />
</form>