﻿@model UrenMenu.Models.EstimateItem


<div id="body" class="flex flex-col ml-1">
    <div class="tab w-full overflow-hidden pb-2">
        <input class="absolute opacity-0 " id="tab-multi-@ViewData["Id"]" type="checkbox" name="tabs">
        <label class="block p-5 pt-2 leading-normal cursor-pointer" for="tab-multi-@ViewData["Id"]">
            <h4 id="name" class="text-xl font-semibold mb-1 float-left">
                <span>@Model.Name</span>
            </h4>
        </label>
        <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
            <p id="job" class="text-gray-800 mt-2">
                <p>@Model.Description</p>
                <p><b>Kosten:</b> @String.Format("€ {0:##.###}", Model.CostEstimate)</p>
                <p class="m-1">
                    @if (Model.EstimateItems.Any())
                    {
                        <b>Onderdelen:</b>
                        @foreach (var e in Model.EstimateItems)
                        {
                            ViewData["Id"] = int.Parse(ViewData["Id"].ToString()) + 1;
                            <div class="max-w-2xl bg-white border-2 border-gray-300 p-4 rounded-md tracking-wide shadow-lg">
                                <div id="header" class="grid">
                                    <div class="flex-row">
                                        @{await Html.RenderPartialAsync("_EstimateItem", e , ViewData);}
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </p>
            </p>
        </div>
    </div>
</div>




