﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var estimate in ViewBag.Estimates)
{
    
    
        <li class="flex border-2 border-gray-300 p-4 rounded-md tracking-wide items-center space-x-5 bg-white text-gray-700 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline mb-2" value="@estimate.Id">
            <button value="@estimate.Id" id="deleteEstimate" class="m-2 p-0 w-10 h-10 bg-red-500 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="#2f2f2f">
                    <path stroke-linecap="round" fill="#FFFFFF" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Estimate" asp-route-id="@estimate.Id" class="content-start w-full">
                <span class="text-gray-600 float-left">
                    <img src="/img/estimate.svg" width="35px"/>
                </span>
                <div class="float-left content-center mt-2 ml-1">
                    <span>Naam: @estimate.Customer.Name</span>
                    <span>Telefoon nummer: @estimate.Customer.PhoneNumber</span>
                    <span>Email: @estimate.Customer.Email</span>
                </div>
            </a>
        </li>
    
}