﻿@using UrenMenu.Models
@{
    ViewData["Title"] = "Estimate";
    var estimate = @ViewData["Estimate"] as Estimate;
    ViewData["Id"] = 0;
}


@if (estimate != null)
{
    <input id="estimateId" type="hidden" value=@estimate.Id />
    <div class="flex flex-col w-full bg-white rounded shadow-lg sm:w-3/4 md:w-1/2 lg:w-1/2 mb-1">
        <div class="flex flex-col w-full md:flex-row">
            <div class="flex flex-row justify-around p-4 font-bold leading-none text-gray-800 uppercase bg-gray-400 rounded md:flex-col md:items-center md:justify-center md:w-1/3">
                <div class="md:text-6xl"> @String.Format("{0:##.###}", @estimate?.TotalCost)  </div>
                <div class="md:text-xl">€</div>
            </div>
            <div class="p-4 font-normal text-gray-800 md:w-3/4">
                <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-800">Maand bedrag</h1>
                <p class="leading-normal">
                    @estimate?.Customer?.Name
                </p>
                <div class="flex flex-row items-center mt-4 text-gray-700 float-left">
                    
                </div>
            </div>
        </div>
    </div>
    <p>
        <div>
            @if (estimate.EstimateItemsList != null)
            {
                foreach (var item in estimate.EstimateItemsList)
                {
                    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
                        <div id="header" class="grid">
                            <div class="justify-self-end flex-row">
                                <button value="@item.Id" class="trashbin m-2 p-0 w-10 h-10 bg-red-500 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="#2f2f2f">
                                        <path stroke-linecap="round" fill="#FFFFFF" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                            <div class="flex-row">
                                @{
                                    await Html.RenderPartialAsync("_EstimateItem", item, ViewData);
                                }
                            </div>
                        </div>
                    </div>
                    ViewData["Id"] = int.Parse(ViewData["Id"].ToString()) + 1;
                }
            }
        </div>
    </p>
}

