﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <p>
        <div>
            @if (ViewBag.ZZP != null)
            {
                <h4 class="text-gray-900 text-xl leading-tight font-medium mb-2">ZZP</h4>
                foreach (var item in ViewBag.ZZP)
                {
                    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
                        <div id="header" class="grid">
                            <div class="justify-self-end flex-row">
                                <button value="@item.Id" id="deleteEstimateItem" class="trashbin m-2 p-0 w-10 h-10 bg-red-500 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="#2f2f2f">
                                        <path stroke-linecap="round" fill="#FFFFFF" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                            <div class="flex-row">
                                @{
                                    await Html.RenderPartialAsync("_EstimateItem", item, ViewData);
                                }
                            </div>
                        </div>
                    </div>
                    ViewData["Id"] = int.Parse(ViewData["Id"].ToString()) + 1;
                }
            }
        </div>
    </p>

    <p>
        <div>
            @if (ViewBag.MKB != null)
            {
                <h4 class="text-gray-900 text-xl leading-tight font-medium mb-2 mt-4">MKB</h4>
                foreach (var item in ViewBag.MKB)
                {
                    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
                        <div id="header" class="grid">
                            <div class="justify-self-end flex-row">
                                <button value="@item.Id" id="deleteEstimateItem"  class="m-2 p-0 w-10 h-10 bg-red-500 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="#2f2f2f">
                                        <path stroke-linecap="round" fill="#FFFFFF" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                            <div class="flex-row">
                                @{
                                    await Html.RenderPartialAsync("_EstimateItem", item, ViewData);
                                }
                            </div>
                        </div>
                    </div>
                    ViewData["Id"] = int.Parse(ViewData["Id"].ToString()) + 1;
                }
            }
        </div>
    </p>

    <p>
        <div>
            @if ( ViewBag.Concern != null)
            {
                <h4 class="text-gray-900 text-xl leading-tight font-medium mb-2 mt-4">Concern</h4>
                foreach (var item in ViewBag.Concern)
                {
                    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
                        <div id="header" class="grid">
                            <div class="justify-self-end flex-row">
                                <button value="@item.Id" id="deleteEstimateItem" class="trashbin m-2 p-0 w-10 h-10 bg-red-500 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="#2f2f2f">
                                        <path stroke-linecap="round" fill="#FFFFFF" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                            <div class="flex-row">
                                @{
                                    await Html.RenderPartialAsync("_EstimateItem", item, ViewData);
                                }
                            </div>
                        </div>
                    </div>
                    ViewData["Id"] = int.Parse(ViewData["Id"].ToString()) + 1;
                }
            }
        </div>
    </p>