﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Klant informatie</h1>
    <p>Kies wat voor soort klant je aan de telefoon hebt</p>
    <br />
    Telefoon nummer: <input type="tel" class="phone" />
    Naam / Bedrijfsnaam: <input type="text" class="name" />
    Email: <input type="email" class="email" />
    <br />
    <br />
    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
        <div id="header" class="grid">
            <div class="justify-self-end flex-row">
                <button value="0" class="addsign m-2 p-0 w-10 h-10 bg-green-500 rounded-full hover:bg-green-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                    <img src="img/plus.svg" />
                </button>
            </div>
            <div class="flex-row">
                <div id="body" class="flex flex-col ml-1">
                    <div class="tab w-full overflow-hidden pb-2">
                        <input class="absolute opacity-0 " id="tab-multi-0" type="checkbox" name="tabs">
                        <label class="block p-5 pt-2 leading-normal cursor-pointer" for="tab-multi-0">
                            <h4 id="name" class="text-xl font-semibold mb-1 float-left">
                                <span>ZZP/Eenmanszaak</span>
                            </h4>
                        </label>
                        <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p id="job" class="text-gray-800 mt-2">
                            <p>Een bedrijf met maar 1 persoon.</p>
                            <p><b>Kosten:</b> @String.Format("€ {0:##.###}", 19.95)</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
        <div id="header" class="grid">
            <div class="justify-self-end flex-row">
                <button value="1" class="addsign m-2 p-0 w-10 h-10 bg-green-500 rounded-full hover:bg-green-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                    <img src="img/plus.svg" />
                </button>
            </div>
            <div class="flex-row">
                <div id="body" class="flex flex-col ml-1">
                    <div class="tab w-full overflow-hidden pb-2">
                        <input class="absolute opacity-0 " id="tab-multi-1" type="checkbox" name="tabs">
                        <label class="block p-5 pt-2 leading-normal cursor-pointer" for="tab-multi-1">
                            <h4 id="name" class="text-xl font-semibold mb-1 float-left">
                                <span>MKB/BV</span>
                            </h4>
                        </label>
                        <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p id="job" class="text-gray-800 mt-2">
                            <p>Een bedrijf met 2 tot 20 personen.</p>
                            <p><b>Kosten:</b> @String.Format("€ {0:##.###}", 49.95)</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-2xl bg-white border-2 border-gray-300 p-2 rounded-md tracking-wide shadow-lg">
        <div id="header" class="grid">
            <div class="justify-self-end flex-row">
                <button value="2" class="addsign m-2 p-0 w-10 h-10 bg-green-500 rounded-full hover:bg-green-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
                    <img src="img/plus.svg" />
                </button>
            </div>
            <div class="flex-row">
                <div id="body" class="flex flex-col ml-1">
                    <div class="tab w-full overflow-hidden pb-2">
                        <input class="absolute opacity-0 " id="tab-multi-2" type="checkbox" name="tabs">
                        <label class="block p-5 pt-2 leading-normal cursor-pointer" for="tab-multi-2">
                            <h4 id="name" class="text-xl font-semibold mb-1 float-left">
                                <span>Concern</span>
                            </h4>
                        </label>
                        <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <p id="job" class="text-gray-800 mt-2">
                            <p>Een bedrijf met 20 personen of meer.</p>
                            <p><b>Kosten:</b> @String.Format("€ {0:##.###}", 99)</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
