<template>
  <div class="flex flex-wrap bg-gray-100 w-full h-full">
    <div class="w-3/12 bg-white rounded p-3 shadow-lg">
      <div class="flex items-center space-x-4 p-2 mb-5">
        <img
          class="h-12 rounded-full"
          src="https://i.pinimg.com/736x/34/bb/17/34bb177b98f8e1ef8c5c12013bc5847d--siberian-husky-funny-funny-husky.jpg"
          alt="James Bhatta"
        />
        <div>
          <h4
            class="
              font-semibold
              text-lg text-gray-700
              capitalize
              font-poppins
              tracking-wide
            "
          >
            Luuk Minten
          </h4>
          <span class="text-sm tracking-wide flex items-center space-x-1">
            <svg
              class="h-4 text-green-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
              />
            </svg>
            <span class="text-gray-600">Software Developer</span>
          </span>
        </div>
      </div>
      <ul class="space-y-2 text-sm">
        <template v-for="item in items" :key="item.id">
          <EstimateItemBar />
        </template>
        <!-- add navbar here -->
      </ul>
    </div>
    <div class="w-9/12">
      <EstimateTotal />
    </div>
  </div>
</template>
<script>
import { defineAsyncComponent } from "vue";
import axios from "axios";

export default {
  name: "BasicLayout",
  components: {
    EstimateTotal: defineAsyncComponent(() =>
      import("../../components/EstimateTotal.vue")
    ),
    EstimateItemBar: defineAsyncComponent(() =>
      import("../../components/EstimateItemBar.vue")
    ),
  },
  data() {
    return {
      items: ["foo", "bar"],
    };
  },
  methods: {
    async loadEstimateList() {
      
    },
  },
  mounted() {
    const res = axios.get('https://localhost:5001/api/EstimateItems');
  },
};
</script>
<style scoped>
/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
  /*apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  font-size: 1.25rem; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
  border-left-width: 2px; /*.border-l-2*/
  border-color: #6574cd; /*.border-indigo*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: #6574cd; /*.text-indigo*/
}
/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type="checkbox"] + label::after {
  content: "\25BE";
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type="radio"] + label::after {
  content: "\25BE";
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(180deg);
  background-color: #6574cd; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
  background-color: #6574cd; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
</style>
