﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrenMenuFrontend</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/tailwind.css" rel="stylesheet" />
    <style>
        /* Tab content - closed */
        .tab-content {
            max-height: 0;
            -webkit-transition: max-height .35s;
            -o-transition: max-height .35s;
            transition: max-height .35s;
        }
        /* :checked - resize to full height */
        .tab input:checked ~ .tab-content {
            max-height: 100vh;
        }
        /* Label formatting when open */
        .tab input:checked + label {
            /*apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
            font-size: 1.25rem; /*.text-xl*/
            padding: 1.25rem; /*.p-5*/
            border-left-width: 2px; /*.border-l-2*/
            border-color: #6574cd; /*.border-indigo*/
            background-color: #f8fafc; /*.bg-gray-100 */
            color: #6574cd; /*.text-indigo*/
        }
        /* Icon */
        .tab label::after {
            float: right;
            right: 0;
            top: 0;
            display: block;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5;
            font-size: 1.25rem;
            text-align: center;
            -webkit-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
        }
        /* Icon formatting - closed */
        .tab input[type=checkbox] + label::after {
            content: "\25BE";
            font-weight: bold; /*.font-bold*/
            border-width: 1px; /*.border*/
            border-radius: 9999px; /*.rounded-full */
            border-color: #b8c2cc; /*.border-grey*/
        }

        .tab input[type=radio] + label::after {
            content: "\25BE";
            font-weight: bold; /*.font-bold*/
            border-width: 1px; /*.border*/
            border-radius: 9999px; /*.rounded-full */
            border-color: #b8c2cc; /*.border-grey*/
        }
        /* Icon formatting - open */
        .tab input[type=checkbox]:checked + label::after {
            transform: rotate(180deg);
            background-color: #6574cd; /*.bg-indigo*/
            color: #f8fafc; /*.text-grey-lightest*/
        }

        .tab input[type=radio]:checked + label::after {
            transform: rotateX(180deg);
            background-color: #6574cd; /*.bg-indigo*/
            color: #f8fafc; /*.text-grey-lightest*/
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Helpdesk abonnementen tool</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Nieuwe klant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Estimates">Overzicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateEstimateItem">Onderdeel toevoegen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EstimateItems">Onderdeel Overzicht</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="flex flex-wrap bg-gray-100 w-full h-full">
        <div class="w-3/12 bg-white rounded p-3 shadow-lg">
            <div class="flex items-center space-x-4 p-2 mb-5">
                <img class="h-12 rounded-full" src="https://i.pinimg.com/736x/34/bb/17/34bb177b98f8e1ef8c5c12013bc5847d--siberian-husky-funny-funny-husky.jpg" alt="Husky">
                <div>
                    <h4 class="font-semibold text-lg text-gray-700 capitalize font-poppins tracking-wide">Lanthopus</h4>
                    <span class="text-sm tracking-wide flex items-center space-x-1">
                        <svg class="h-4 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                        </svg><span class="text-gray-600">powered by Opusit</span>
                    </span>
                </div>
            </div>
            <ul class="space-y-2 text-sm">
                @{
                    await Html.RenderPartialAsync("_EstimateItemList", Model, ViewData);
                }
            </ul>
        </div>
        <div class="w-9/12">
            <div id="divPartial" class="p-4 text-gray-500">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        /* Optional Javascript to close the radio button version by clicking it again */
        var myRadios = document.getElementsByName('tabs2');
        var setCheck;
        var x = 0;
        for (x = 0; x < myRadios.length; x++) {
            myRadios[x].onclick = function () {
                if (setCheck != this) {
                    setCheck = this;
                } else {
                    this.checked = false;
                    setCheck = null;
                }
            };
        }
        var baseUrl = "https://localhost:5001";
        $("body").on("submit","#createForm", function () {
            event.preventDefault();
            let costEstimate = $("#costEstimate").val().replace('.',',');
            let data = { name: $("#name").val(), description: $("#description").val(), listPriority: $("#listPriority").val(), customerType: $("#customerType").val(), costEstimate: costEstimate};
            $.ajax({
                type: "POST",
                data: data,
                crossDomain: true,
                url: baseUrl + "/api/EstimateItems",
                success: function (res) {
                    console.log(res);
                    location.reload();
                },
                dataType: "json"
            }); 
        });
        $("body").on("click","#deleteEstimate", function () {
            $.ajax({
                type: "DELETE",
                crossDomain: true,
                url: baseUrl + "/api/Estimates/" + $(this).val(),
                success: function (res) {
                        location.reload();
                    },
                dataType: "json"
            });
        });
         $("body").on("click","#deleteEstimateItem", function () {
            $.ajax({
                type: "DELETE",
                crossDomain: true,
                url: baseUrl + "/api/EstimateItems/" + $(this).val(),
                success: function (res) {
                        location.reload();
                    },
                dataType: "json"
            });
        });
        $("body").on("click",".trashbin", function () {
            id = $("#estimateId").val();
            console.log(id);
            $.ajax({
                type: "DELETE",
                crossDomain: true,
                url: baseUrl + "/api/Estimates/removeItem/" + $(this).val()+"/"+id,
                success: function (res) {

                        $('#divPartial').load('/Home/_Estimate/'+res.id);
                    },
                dataType: "json"
            });

        });
        $("body").on("click",".addItem", function () {
            id = $("#estimateId").val();
            console.log(id);
            $.ajax({
                type: "POST",
                crossDomain: true,
                url: baseUrl + "/api/Estimates/Add/"+id+"/" + $(this).val(),
                success: function (res) {
                    $('#divPartial').load('/Home/_Estimate/'+res.id);
                },
                dataType: "json"
            });

        });
        $("body").on("click",".addsign", function () {
            id = $("#estimateId").val();
            let data = { name: $(".name").val(), phoneNumber: $(".phone").val(), email: $(".email").val(), customerType: $(this).val()};
            $.ajax({
                type: "POST",
                data: data,
                crossDomain: true,
                url: baseUrl + "/api/Customers",
                success: function (res) {
                    data = {customer: res};
                        $.ajax({
                            type: "POST",
                            data: data,
                            crossDomain: true,
                            url: baseUrl + "/api/Estimates",
                            success: function (res) {
                                console.log(res)
                                window.location = '/Home/Estimate/'+res.id;
                            },
                            dataType: "json"
                        });
                    },
                dataType: "json"
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
